*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target
project/project/target
# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
notebooks/.ipynb_checkpoints

.DS_Store
.ipynb_checkpoints
__pycache__

dockerfile/
src/main/resources/models